.signUpInputLabel label {
    color: black;
    font-size: 0.75rem;
    font-weight: 500;
    height: 100%;
}

.signUpInput {
    background-color: #EFF0F6!important;
    border-radius: 0.4rem;
    height: 42px;
    font-size: 0.75rem;
}

.signUpInput:global(.ant-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

.signUpPasswordInput {
    background-color: #EFF0F6!important;
    border-radius: 0.4rem;
    height: 42px;
    font-size: 0.75rem;
}

.signUpPasswordInput input:global(.ant-input){
  background-color: #EFF0F6!important;
}

.signUpPasswordInput input:global(.ant-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

.textAreaInput {
   background-color: #EFF0F6!important;
   border-radius: 0.4rem;
   font-size: 0.75rem;
}

.textAreaInput:global(.ant-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

.numberInput {
    background-color: #EFF0F6!important;
    border-radius: 0.4rem;
    height: 42px;
    font-size: 0.75rem;
    width: 100%;
}

.numberInput input:global(.ant-input-number-input) {
    height: 42px;
}

.numberInput input:global(.ant-input-number-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

:global(.ant-form-item-explain div) {                      /* Error Text style */
  font-size: 0.65rem;
}

.horizontalInputView {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontalLabel {
  color: black;
  font-size: 0.85rem;
  font-weight: 500;
  height: 100%;
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  align-self: center;
}