.header5{
       
    height: 193px;
    /* margin-right: 23px; */
        width: auto;
    left: 253px;
    top: 91px;
  
    background: #FFFFFF;
    /* margin-left: 39px; */
   
    
}
.header5 {
    height: 38px ;
    /* margin-right: 20px; */
    width: 1125;
    left: 253 px;
    top: 91px ;
    margin-top: 4 px;
    background: #FFFFFF;
    /* margin-left: 20 px; */
    display: flex;
    justify-content: space-between;
}


.amount>span{margin-left: 12px;    margin-left: 44px;
    font-size: 13px;}


.amount{margin-right: 114px;
margin-right: 114px;
align-self: center;
font-weight: 600px;}

.header3{
       
    height: 193px;
    /* margin-right: 23px; */
        width: auto;
    left: 253px;
    top: 91px;
    margin-top: 18px;
    background: #FFFFFF;
    /* margin-left: 39px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.maindiv{
    display: flex;
}

.div2{
    height: 111px;
width: 127px;
left: 300px;
top: 275px;
border-radius: 0px;

overflow: hidden;


}

.div3{
    height: 111px;
width: 263px;
left: 300px;
top: 275px;
border-radius: 0px;


}
.service{height: 31px;
    width: 297px;
    left: 433px;
    top: 287px;
    border-radius: nullpx;
   
font-weight: 700;
font-size: 22px;
line-height: 140%;
/* identical to box height, or 31px */

letter-spacing: -0.3px;
margin-top: 21px;

    }

    .vendor{height: 17px;
        width: 72vw;
        left: 436px;
        top: 322px;
        border-radius: nullpx;
        font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 140%;
        }

        .buttons{
            margin-top: -4vmax;
        margin-left: 58vmax;
        
        display: flex;
        }

        .sideRfq{
                
            margin-right: -26px;

margin-left: 27px;
        }

        .skip-link.sr-only,
.sr-only {
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}
.sr-only {
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}
.skip-link {
  background-color: #eee;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.skip-link.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  word-wrap: normal;
}
.skip-link.sr-only:focus {
  background-color: #fff;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  color: #767676;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}