.drawerContainer{
    padding-top: 1rem;
}

.drawer {
   padding: 1rem 0rem;
   background-color: #0061F7;
   width: 230px!important;
   max-width: 230px!important;
   min-width: 230px!important;
}

.drawerHeader {
   width: 100%;
   display: flex;
   padding: 0rem 1rem;
   margin-bottom: 1rem;
   align-items: center;
}

.logo {
   margin-right: 0.6rem;
}

.headline {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.subheadline {
    color: white;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    font-weight: 400;
}

.system {
   color: rgba(255,255,255,0.5);
   font-size: 0.7rem;
   font-weight: 400;
   margin: 1rem 0rem;
   letter-spacing: 0.5px;
   padding-left: 24px;
}

/* content right to drawer */

.header {
   padding: 0rem 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   height: 2.8rem;
   position: fixed; 
   right: 0;
   left: 230px;
   z-index: 1;
   box-shadow: 0.5px 2px 2px rgb(220, 220, 220);
} 

.content {
   overflow: hidden;
   margin-bottom: 1.5rem;
   margin-top: 2.8rem;
}

.siteLayout {
   margin-left: 230px;
}

.footer {
   color: #B9B9B9;
   font-weight: 500;
   font-size: 0.77rem;
}

@media only screen and (max-width: 850px) {
   .drawer {
       display: none;
   }
   .header {
      left: 0;
   }
   .siteLayout {
       margin-left: 0;
   }
} 

:global(.ant-menu.ant-menu-dark){                      /* drawer dark mode */
   background-color: #0061F7;
}

:global(.ant-menu-item .ant-menu-item-icon){            /* side menu options icon */
  font-size: 0.9rem;
}

:global(.ant-menu-title-content){         /* side menu options text */
   font-size: 0.8rem;
   font-weight: 500;
}

:global(.ant-layout){                   /* whole layout */
   background:  #E5E5E5;
}

:global(.ant-layout-header){           /* header */
   background: white;
}

:global(.ant-layout-footer){           /* header */
   background:  #E5E5E5;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height:fit-content;
   padding: 0.6rem 1rem;
   border-top: 1.4px solid rgb(210,210,210);
}

:global(.ant-drawer-body){
   padding: 0;
   background-color: #0061F7;
}

:global(.ant-drawer-header){
    background-color: #0061F7;
    border: none;
}

:global(.ant-drawer-title){
    color: white;
}

:global(.anticon-close){
   color: white;
}