.dashboard {
  width: 100%;
  background-color: white;
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.searchRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.searchInput {
  background-color: #eff0f6;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  width: fit-content;
}

.searchInput:global(.ant-input-affix-wrapper > input.ant-input) {  /* input */
  padding: 0.6rem 0rem;
}

.searchInput:global(.ant-input-affix-wrapper-borderless:hover) {
  background-color: #eff0f6;
}

.searchInput input:global(.ant-input) {  /* input */
  line-height: normal;
  min-height: fit-content;
  font-size: 0.7rem;
}

.searchInput input:global(.ant-input::placeholder) {  /* input placeholder*/
  line-height: normal;
  font-size: 0.7rem;
  font-weight: 400;
}

.createRFQbtn {
  background-color: #2f49d1;
  color: white;
  font-size: 0.65rem;
  font-weight: 400;
  width: 7rem;
  border-radius: 0.3rem;
  line-height: normal;
}

.createRFQbtn:global(.ant-btn) {
  font-size: 0.7rem;
  line-height: normal;
}
