.header{height: 80px;
    width: 1187px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
   
    background: #FFFFFF;

    
    }

    .shipped{    margin-left: 1.8vmax;
            margin-top: 4vmax;
            font-weight: 600;
            font-size: 1rem;}

    .img2{
        width: 3vmax;
    }

    .sidename{
        margin-left: 54vmax;
            margin-top: 5vmax;
    }
    .sidename>p{
        line-height: 20px;
    }

    .pspan{
        font-weight: 300;
    }
    

    .buttons{
        margin-top: -4vmax;
    margin-left: 58vmax;
    
    display: flex;
    }
    .rupees{margin-left: 39px ;
            margin-top: 9px ;
            font-weight:700;
        }

        .budget{    margin-top: 12px
            ;
                margin-left: 24px
            ;}

    .header2{
       
      
        margin-top: 11px;
      
    }
    .header3{
       
        height: 193px;
     
            width: auto;
        left: 253px;
        top: 91px;
        margin-top: 18px;
        background: #FFFFFF;
      
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        
    }


    .header6{
       
        height: 379px;
        margin-right: 23px;
            width: auto;
        left: 253px;
        top: 91px;
        margin-top: 18px;
        background: #FFFFFF;
        margin-left: 39px;
       
       
        
        
    }
    .Suppliers{
        margin-left: 3px;
        font-weight: 700;
        font-size: 1.7vw;
        line-height: 36px;
    }

    .SearchBar{
        display: flex;
        margin-right: 27px;
        

    }

    .h2Content{
        border: 2px solid black;
        width: 10px;
        height: 10px;
    }

    .div2{
        height: 111px;
width: 127px;
left: 300px;
top: 275px;
border-radius: 0px;

overflow: hidden;


    }
    

    .img1{width: 4vmax
        ;
            margin-left: 2vmax
        ;
            margin-top: 2.3vmax
        ;}


    .div3{
        height: 111px;
width: 263px;
left: 300px;
top: 275px;
border-radius: 0px;


    }


    .maindiv{
        display: flex;
    }



    .service{height: 31px;
        width: 297px;
        left: 433px;
        top: 287px;
        border-radius: nullpx;
       
font-weight: 700;
font-size: 22px;
line-height: 140%;
/* identical to box height, or 31px */

letter-spacing: -0.3px;
margin-top: 21px;

        }


        .vendor{height: 17px;
            width: 72vw;
            left: 436px;
            top: 322px;
            border-radius: nullpx;
            font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 140%;
            }



            .sideDiv{
                
                width: 157px;
                height: 75px;
                left: 1147px;
                top: 308px;
                margin-right: 133px;
                    margin-top: 42px;
                
                
            }
     .sideDivContent{font-family: Inter;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        /* or 25px */
        
        letter-spacing: -0.3px;}

        .header4{
       
            height: 38px;
          
                width: 1125;
            left: 253px;
            top: 91px;
            margin-top: 4px;
            background: #FFFFFF;
           
            display: flex;
            justify-content: space-between;
            
            
        }

        .downBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .Suppliers{height: 34px;
            width: 210px;
            left: 273px;
            top: 105px;
            border-radius: undefinedpx;
            }

            .sideRfq{
                
                margin-right: -26px;
   
    margin-left: 27px;
            }

            .fScrew{height: 31px;
                width: 181px;
                left: 324px;
                top: 290px;
                border-radius: undefinedpx;
                }

                .header5{
       
                    height: 193px;
                    margin-right: 23px;
                        width: auto;
                    left: 253px;
                    top: 91px;
                    margin-top: 18px;
                    background: #FFFFFF;
                    margin-left: 39px;
                   
                    
                }

                .sp{
                    width: 156px;
                    height: 67px;
                    left: 305px;
                    margin-top: 44px;
                    
                    background: #DBECEB;}

                    .blocks{position: absolute;
                        width: 128px;
                        height: 80px;
                        left: 767px;
                        /* top: 331px; */
                        
                        /* White */
                        
                        background: #FFFFFF;
                        border: 1px solid #2F49D1;}
                    .blocks2{position: absolute;
                      
                        left: 767px;
                        /* top: 331px; */
                        
                        /* White */
                        
                        background: #FFFFFF;
                       }

                        .fdiv{    margin-left: 32px ;
                                
                            margin-top: 24px;}


                            .category{
                                width: 208px;
                                height: 20px;
                                left: 305px;
                                top: 727px;
                                
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 140%;
                                /* identical to box height, or 20px */
                                
                                letter-spacing: -0.3px;
                                
                                color: #5F5B5B;}

                                /* .budget{height: 25px;
                                    width: 68px;
                                    
                                    top: 386px;
                                    border-radius: nullpx;
                                    margin-left: 24px;
                                        margin-top: 12px;
                                    } */


                                    .sideContent{
                                        margin-top: 13px ;
                                            margin-left: 31px;
                                    }

                                    .line{
                                        line-height: 32px;
                                    }

                                    .sideline>div{
                                        margin-left: 13px;
                                            font-size: 14px;
                                           
                                         
                                            font-weight: 500;
                                    }

                                    .sideline>div:hover{
                                        color: #5671f5;
                                    }


                                    .header5 {
                                        height: 38px ;
                                        margin-right: 20px;
                                        width: 1125;
                                        left: 253 px;
                                        top: 91px ;
                                        margin-top: 4 px;
                                        background: #FFFFFF;
                                        margin-left: 20 px;
                                        display: flex;
                                        justify-content: space-between;
                                    }

                                    .amount>span{margin-left: 12px;    margin-left: 44px;
                                            font-size: 13px;}
                                    .amount{margin-right: 114px;
                                    margin-right: 114px;
                                align-self: center;
                            font-weight: 600px;}