.quote {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: normal;
}

.blocks {
  width: 6rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid var(--primary);
}
