.header {
    width: 100%;
    display: flex;
    background-color: white;
    margin-bottom: 0.6rem;
    font-weight: 600;
    font-size: 0.79rem;
    padding: 0.4rem 0.8rem;
}

.card {
    width: 100%;
    display: flex;
    background-color: white;
    margin: 1rem 0rem;
    padding: 1.2rem 0.8rem;
}

.image {
    width: 10%;
}

.supplier {
    width: 22%;
    padding-right: 0.3rem;
    display: flex;
    flex-direction: column;
}

.quote {
    width: 18%;
    padding-right: 0.3rem;
    display: flex;
    align-items: center;
}

.delivery {
    width: 13%;
    padding-right: 0.3rem;
    display: flex;
    align-items: center;
}

.status {
    width: 13%;
    padding-right: 0.3rem;
    display: flex;
    align-items: center;
}

.cta {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supplierName {
    font-weight: 600;
    font-size: 0.78rem;
    margin-bottom: 0.3rem;
}

.supplierInfo {
    font-size: 0.72rem;
    font-weight: 400;
    line-height: normal;
}

.btn {
    color: white;
    width: 6rem;
    height: 1.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 0.3rem;
    margin: 0rem 0.3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}