.signUpInputLabel label {
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    height: 100%;
}

.signUpInput {
    background-color: #EFF0F6!important;
    border-radius: 0.4rem;
    height: 44px;
}

.signUpInput:global(.ant-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

.signUpPasswordInput {
    background-color: #EFF0F6!important;
    border-radius: 0.4rem;
    height: 44px;
}

.signUpPasswordInput input:global(.ant-input){
  background-color: #EFF0F6!important;
}

.signUpPasswordInput input:global(.ant-input::placeholder) { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
}

.textAreaInput {
   background-color: #EFF0F6!important;
   border-radius: 0.4rem;
}

:global(.ant-form-item-explain div) {                      /* Error Text style */
  font-size: 0.65rem;
}
